@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 85vh;
    background: rgb(221, 242, 255);
    display: grid;
    place-content: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 50px;
        font-size: 5rem;
        color: rgb(69, 84, 133);
    }

        form{
            position: relative;
        }
        i{
                position: absolute;
                right: 10px;
                top: 20px;
                padding: 10px;
                background: yellow;
                border-radius: 50%;
                font-size: 25px;
                color: #fff;
                cursor: pointer;
            }
        input {
            border: none;
            outline: none;
            background: none;
            border-bottom: 3px solid rgb(69, 84, 133);
            padding: 20px 100px;
            text-align: center;
            font-size: 2rem;
        
            &::placeholder {
                font-size: 2.5rem;
            }
    }    
}


.footer {
    width: 100%;
    height: 15vh;
    background: rgb(69, 84, 133);
    display: grid;
    place-content: center;

    p {
       color: #fff;
       font-size: 1.5rem; 

       span {
           color: rgb(219, 106, 195);
           cursor: pointer;
       }
    }
} 
.weather {
    width: 100%;
    padding: 30px 30px;
    box-shadow: 10px 10px 10px rgb(189, 189, 189),-10px -10px 10px rgb(189, 189, 189);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;

    section {
        display: flex;
    }
    i {
        position: absolute;
        background: yellow;
        color: #fff;
        padding: 10px;
        font-size: 25px;
        border-radius: 50%;
        top: 4px;
        left: -5px;
        cursor: pointer;
    }
}

.top-data{
    width: 100%;
    display: grid;
    place-content: center;

    div {
        padding: 10px 50px;
        text-align: center;
    

        &:first-of-type {
            border-right: 3px solid #000;
        }

        h3 {
            font-size: 5rem;
            margin-bottom: 5px;
        }
        p{
        font-size: 1.2rem;
        }
    }
}

.bottom-data {
   
    div{
        margin: 20px 20px;

        .text {
            font-size: 1.5rem;
            color: rgb(7, 202, 202);
            font-weight: bold;
        }
        .value {
            margin-top: 5px;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 750px) {
    .main {
        h1 {
            font-size: 2.5rem;
        }
        input {
         padding: 20px 30px;
         font-size: 1rem;
          &::placeholder {
              font-size: 1rem !important;
          }
        }
        i {
            font-size: 15px;
            padding: 7px;
        }
    }
    
    .footer {
        p {
            font-size: 1rem;
        }
    }
    .weather {
        margin: 0;
        .top-data {
            div {
                padding: 10px;
                h3 {
                    font-size: 1rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    .bottom-data {
        display: flex;
        flex-direction: column;
    
        div {
            margin: 5px 0 ;
            border-bottom: 0.5px solid rgb(69, 84, 133);
            .text {
                font-size: 1rem;
            }
            .value {
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width:374px) {
    .bottom-data {
        div{
            margin: 0 -3px;
            .value , .text {
                font-size: 0.8rem;
            }
        }
    }
}